body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .means class */
.display { 
  text-align: right;
  max-width: 110px;
  height: 22px;
}
.buttons {
  display: grid;
  max-width: 350px;
  grid-template-columns: 20px 20px 20px 20px;
  grid-gap: 10px;
}
.button {
background-color: darkgoldenrod;
text-align: center;
width: 20px;
height: 20px;
}

.button:hover {
  background-color: rebeccapurple;
}